<header>
  <div class="container">
    <h1 class="headline-1">Currncy</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam ea similique odio ipsum aliquid. Iure excepturi similique error cupiditate nobis nulla rerum iusto minima dicta explicabo harum, ut dolorem natus?</p>

    <div class="row">
      <app-fancy-button
        [text]="'View on GitHub'"
        [icon]="faGithub"
        [url]="'https://github.com/bence444/currncy'">
      </app-fancy-button>
    </div>
  </div>
</header>
