@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import 'styles/themes/dark';
@import 'styles/themes/light';

@import 'styles/components/button';

@include mat.all-component-themes($currncy-dark-theme);
.mat-app-background {
  background-color: map-get(mat.$gray-palette, 900);
  color: map-get(mat.$blue-gray-palette, 100);
}

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($currncy-light-theme);
  .mat-app-background {
    background-color: map-get(mat.$blue-grey-palette, 100);
    color: map-get(mat.$gray-palette, 900);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
